*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

::-webkit-scrollbar-thumb{

    background: linear-gradient( #8b5cf6, #22d3ee);
    border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient( #9333ea, #06b6d4);
}

body{
    background: #0B1020;
    font-family: Poppins, sans-serif;
    color: white;
    overflow-x: hidden;
}

p{
    line-height:1.7;
}

/* Navbar */

.navbar{
    height: 55px;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 18px 40px;
    margin: 20px auto auto;

    position: sticky;
    top: 20px;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.menu-icon{
    display:none;
    font-size:1.5rem;
    color:white;
    cursor:pointer;
}

.nav-items a{
    gap: 40px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition:0.3s;
}

.nav-items a:hover{
    color:#22d3ee;
    transform:translateY(-2px);
}

.nav-items a:hover{
    color: #22D3EE;
    transition: ease-in;
}

.nav-logo{
    background: linear-gradient(to right,#8b5cf6, #22d3ee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 1.7rem;
}

.nav-button {
    padding: 12px 24px;
    
    background: rgba(255,255,255,0.05);
    border: none;
    backdrop-filter: blur(10px);
    border-radius: 12px;

    color: white;
    cursor: pointer;
    font-weight: 600;

    transition: 0.3s;
}

.nav-button:hover{
    transform: translateY(-3px) scale(1.02);
    background:rgba(139,92,246,0.2);
    box-shadow: 0 0 20px rgba(139,92,246,0.2);
}

section{
    scroll-margin-top:100px;
    padding-top:40px;
    padding-bottom:40px;
}

/* Hero Section */

.hero{
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-right: 60px;
}

.hero-left{
    flex:1;
}

.hero-left h4{
    font-size: 1rem;
    color: #ec4899;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
}

.hero-left h1{
    font-size: 5rem;
    line-height: 1.1;
    background: linear-gradient(to right,#8B5CF6,#22D3EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 20px 0;
}

.hero-left h3{
    font-size: 1.2rem;
    font-weight: 400;
    color: #cbd5e1;
    margin: 0 0 25px 0;
}

.hero-left p{
    max-width: 600px;
    line-height: 1.8;
    color: #94a3b8;
}

.hero-social{
    margin: 30px 0 0 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.hero-social-divs{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.hero-social a{
    justify-self: center;
    align-self: center;
}

.hero-social i{
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 20px;
    align-self: center;
    /* padding-right: 100px; */
}

.hero-social i:hover{
    color: #ec4899;
}

.hero-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* overflow: hidden; */
}

.hero-image{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-image: url(images/khyati-cartoonify.png);
    background-size: cover;
    position: relative;
    z-index: 2;
}

.blob{
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(to right, #8B5CF6, #22d3ee);
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.7;
    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-20px);
    }
    100%{
        transform:translateY(0px);
    }
}

/* Skills section */

.skills{
    margin: 55px;
    width: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}


.skills::-webkit-scrollbar{
    display: none;
}

@keyframes skillcard-infinte{
    from{
        transform: translateX(0); 
    } 
    to{
        transform: translateX(-50%);
    }
}

.skills-title{
    /* margin: 20px; */
    padding: 20px;
}

.skills-title i{
    display: inline;
    background: linear-gradient(45deg, #ec4899, #8b5cf6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-title p{
    display: inline;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.skill{
    min-width:320px;
    height: 300px;
    padding:40px 30px;
    border-radius:24px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    text-align:center;
    flex-shrink:0;
    transition: 0.3s;
}

.skill:hover{
    transform: translateY(-3px);
    background:rgba(139,92,246,0.2);
    box-shadow: 0 0 20px rgba(139,92,246,0.2);
}

.skill-img{
    background-size: cover;
    margin: 0 auto 15px auto; 
}

.skills-grid{
    width:max-content;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 3rem;
    animation: skillcard-infinte 20s infinite linear;
}

.skills-grid:hover{
    animation-play-state:paused;
}

/* TIMELINE */


/*  PROJECTS  */

.projects{
    margin: 55px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 25px;
}

.proj-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 40px;
}

.proj-button{
    display: flex;
    gap: 15px;
}

.back, .next{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    cursor: pointer;
    transition: 0.3s;
}

.back:hover , .next:hover{
    transform: translateY(-3px);
    background:rgba(139,92,246,0.2)
}

.proj-button i{
    font-size: 1.2rem;
    color: white;
}

.proj-grid{
    display: flex;
    gap:2rem;
    transition: 0.5s ease;
}

.proj-card{
    min-width: calc((100% - 4rem)/3);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    overflow: hidden;
    backdrop-filter: blur(12px);
    transition: 0.3s;
    padding-bottom: 20px;
}

.proj-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 30px rgba(139,92,246,0.2);
}

.card-img{
    height:220px;
    border-radius:20px 20px 0 0;
    width: 100%;
    background:#1f2937;
    background-image: url(images/demo-project.png); 
    background-size: cover;
    background-position: center;
    transition: 0.4s;
}

.proj-card:hover .card-img{
    transform: scale(1.05);
}

.proj-card h3{
    padding: 15px;
    text-align: center;
}

.proj-card p{
    color:#cbd5e1;
    line-height:1.7;
    font-size:0.95rem;
    padding: 0 25px 25px 25px;
}

.tech-stack{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
    margin-bottom:25px;
    justify-content: space-evenly;
}

.stack{
    text-align: center;
    width: 70px;
    height: 30px;
    padding: 5px 16px 5px 16px;
    border-radius: 24px;
    background: rgba(139,92,246,0.15);
    backdrop-filter: blur(10px);
    border: 1 px solid rgba(139,92,246,0.3);
    color: #e5e7eb;
    font-size: 0.85rem;
}

.card-anchors{
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

.card-anchors a{
    text-decoration: none;
    color: white;
    padding: 10px 18px 12px 18px;
    text-align: center;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}

.card-anchors a:hover{
    transform: translateY(-3px);
    background: rgba(139,92,246,0.2);
}

.stats{
    margin:55px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 2rem;
}

.stat-card{
    padding: 40px 25px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.stat-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 35px rgba(139,92,246,0.25);
}

.stat-card h2{
    font-size: 2.7rem;
    background: linear-gradient(to right,#8B5CF6,#22D3EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.stat-card p{
    font-size: 1rem;
    line-height: 1.6;
    color: #cbd5e1;
}

/* CONNECT */

.connect{
    margin: 60px;
    padding: 50px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connect h2{
    font-size: 3rem;
    margin-bottom: 60px;
    background: linear-gradient(to right,#8B5CF6,#22D3EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.connect-thing{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.connect-left{
    width:40%;
    height: 100%;
    padding: 50px;
    border-radius:24px;
    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,255,255,0.08);
}

.connect-link{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.connect-anchors{
    display: flex;
    align-items: center;
    gap: 20px;
}

.connect-anchors a{
    height: 50px;
    width: 50px;
    display: flex;
    font-size:1.3rem;
    text-decoration: none;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.connect-anchors a:hover{
    transform: translateY(-3px);
    background:rgba(139,92,246,0.2);
    box-shadow: 0 0 20px rgba(139,92,246,0.2);
}

.connect-anchors p{
    text-align: left;
    line-height: 1.5;
    color: #e2e8f0;
    word-break:break-word;
}

.connect-right{
    width: 70%;
}

.connect-form{
    padding:35px;
    border-radius:24px;
    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,255,255,0.08);
    display:flex;
    flex-direction:column;
    gap:22px;
}

.form-top{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.connect-form input{
    width: 50%;
}

.connect-form input, 
.connect-form textarea{
    padding: 18px 22px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.connect-form input::placeholder, 
.connect-form textarea::placeholder{
    color: #94a3b8;
}

.connect-form input:focus,
.connect-form textarea:focus{
    transform:scale(1.01);
    border-color:#8b5cf6;
    box-shadow: 0 0 20px rgba(139,92,246,0.25);
}

.connect-form textarea{
    min-height:180px;
    resize:none;
}

.connect-form button{
    align-self: center;
    width: 48%;
    padding: 16px;
    border-radius: 18px;
    background: linear-gradient(to right, #8b5cf6, #22d3ee);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
    color: white;
}

.connect-form button:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 25px rgba(139,92,246,0.3);
}

/* FOOTER */

footer{
    min-width: auto;
    padding: 40px 20px;
    background: rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
}

footer h2{
    font-size:1.5rem;
    background: linear-gradient(to right,#8B5CF6,#22D3EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer p{
    color: #cbd5e1;
    margin: 10px 0 10px 0;
}

.footer-socials a{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 30px;
    width: 30px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: 0.3s;
}

.footer-socials a:hover{
    transform: translateY(-3px);
    background:rgba(139,92,246,0.2);
    box-shadow: 0 0 20px rgba(139,92,246,0.2);
}

.copyright{
    font-size: 0.9rem;
    color: #94a3b8;
    /* margin-bottom: 30px; */
}

.hidden{
    opacity:0;
    transform:translateY(40px);
    transition:all 0.8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

@media (max-width: 950px) {
    .navbar{
        flex-wrap:wrap;
        height:auto;
        padding:20px auto;
        gap:15px;
        justify-content:center;
    }
}

@media(max-width:1000px){
    .hero{
        flex-direction:column-reverse;
        text-align:center;
        padding:80px 20px;
        gap:60px;
    }
    .hero-left p{
        margin:auto;
    }
    .hero-social{
        justify-content:center;
    }
    .proj-card{
        min-width: calc((100% - 2rem)/2);
    }
    .connect-thing{
        flex-direction: column;
    }
    .connect-left, 
    .connect-right{
        width: 100%;
    }
}

@media(max-width:768px){
    .menu-icon{
        display:block;
    }
    .nav-items,
    .nav-button{
        display:none;
    }
    .navbar{
        padding:18px 25px;
    }
    .hero-left h1{
        font-size:3rem;
    }
    .hero-left h3{
        font-size:1rem;
    }
    .hero-image{
        width:280px;
        height:280px;
    }
    .blob{
        width:260px;
        height:260px;
    }
    .skills{
        margin: 20px auto;
        min-width: 260px;
    }
    .proj-card{
        min-width: 100%;
    }
    .projects{
        margin: 20px 15px;
        padding: 20px auto;
    }
    .proj-head{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .proj-grid{
        flex-direction: column;
        gap: 25px;
    }
    .card-img{
        height: 180px;
    }
    .proj-card p{
        font-size: 0.9rem;
        padding: 0 18px 20px 18px;
    }
    .card-anchors{
        flex-direction: column;
        gap: 15px;
    }
    .card-anchors a{
        width: 85%;
    }
    .connect{
        margin: 20px auto;
        padding: 25px auto;
    }
    .form-top{
        flex-direction:column;
    }
    .connect-form input{
        width:100%;
    }
    .connect-form button{
        width:100%;
    }
    .form-top{
        flex-direction:column;
    }
    .connect-form input{
        width:100%;
    }
    .connect-form button{
        width:100%;
    }
    footer{
        text-align: center;
    }
}